@import "../../styles/theme.less";

@prefix: topic;

.@{prefix} {

  &-bg {
    // background-color: #fff;
  }

  &-swiper {
    width: 100%;
    height: 750px;
    &-item {
      background: #ffffff;
    }
    &-image {
      width: 750px;
      height: 750px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
  &-tabs {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  &-scrollview {
    .padding(90px, t);
  }
}