@import "../../styles/theme.less";

@prefix: base-item;
@item-pad: 20px;
@item-avator: 100px;
@item-product-image: @item-avator * 2.6;
@message-avator: 50px;

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.@{prefix} {
  position: relative;
  width: 100%;
  .margin(@item-pad, b);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-pad {
    width: 750 - @item-pad * 2 !important;
    .margin(@item-pad, l);
  }

  &-header {
    background-color: #ffffff;
    .padding(@item-pad);
    position: relative;
    .flex(center, flex-start, row);
    &-price {
      position: absolute;
      top: 50%;
      right: @item-pad;
      color: #ff7332;
      font-size: 35px;
      font-weight: bold;
      transform: translateY(-50%);
    }
    &-image {
      width: @item-avator;
      height: @item-avator;
      .margin(20px, r);
      .bg;
      border-radius: 15px;
    }
    &-user {
      display: flex;
      flex-direction: column;
      &-name {
        font-size: 26px;
        color: #333333;
      }
      &-desc {
        font-size: 22px;
        color: #666666;
      }
    }
    &::after {
      .border1px;
    }
  }

  &-content {
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    .padding(@item-pad, lr);
    .padding(@item-pad, t);
    &::after {
      .border1px;
    }
    &-title {
      font-size: 35px;
      color: #333333;
    }
    &-images {
      width: 100%;
      .margin(@item-pad, tb);
      display: -webkit-box;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    &-image {
      border-radius: @item-pad / 2;
      overflow: hidden;
      width: @item-product-image;
      height: @item-product-image;
      .bg;
      .margin(@item-pad, r);
    }
    &-single {
      display: flex;
      position: relative;
      flex-direction: column;
      .margin(@item-pad, b);
    }
    &-box {
      display: flex;
      flex-direction: row;
      &-image {
        width: 180px;
        height: 180px;
        .bg;
        background-size: contain !important;
        border-radius: 10px;
        .margin(@item-pad, r);
      }
      &-text {
        display: flex;
        flex: 1;
        font-size: 26px;
        color: #2b2f33;
      }
      &-name {
        font-size: 26px;
        color: #2b2f33;
      }
      &-detail {
        .margin(@item-pad, tb);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 26px;
        color: #666666;
      }
      &-mater {
        font-size: 30px;
        color: #ff7332;
      }
    }
  }
  &-bar {
    background-color: #ffffff;
    .flex(center, flex-end, row);
    .padding(20px);
    position: relative;
    &-button {
      .theme-background;
      color: #ffffff;
      width: 150px;
      height: 60px;
      border-radius: @item-pad / 2;
      font-size: 24px;
      .flex(center, center);
      &-dash {
        width: 140px;
        height: 50px;
        border: 1px solid rgba(77, 154, 251, 1);
        border-radius: 5px;
        color: #4d9afb;
        font-size: 24px;
        .flex(center, center);
        .margin(@item-pad, l);
      }
    }
  }

  &-message {
    display: flex;
    flex-direction: column;
    .padding(30px);
    position: relative;
    &::after {
      .border1px;
    }
    &-user {
      .flex(center, flex-start, row);
      position: relative;
      &-name {
        font-size: 24px;
        color: #2b2f33;
      }
      &-time {
        font-size: 22px;
        color: #cccccc;
        .margin(30px, l);
      }
      &-avator {
        width: @message-avator;
        height: @message-avator;
        border-radius: @item-pad / 2;
        .bg;
        .margin(@item-pad, r);
      }
    }
    &-detail {
      .padding(@message-avator + @item-pad, l);
      .margin(@item-pad, t);
      display: flex;
      flex-direction: column;
      &-content {
        font-size: 24px;
        color: #2b2f33;
      }
    }

    &-like {
      position: absolute;
      right: @item-pad;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      width: @item-pad * 3;
      height: @item-pad * 3;
      .flex(center, center, row);
      font-size: 22px;
      color: #666666;
      &-text {
        .margin(4px, l);
      }
      &-sub {
        right: 0px;
      }
    }

    &-sub {
      width: 620px;
      .margin(@item-pad, t);
      .margin(@message-avator + @item-pad, l);
      border-radius: 8px;
      overflow: hidden;
      background-color: #f2f2f2;
      &-item {
        position: relative;
        .padding(@item-pad);
        display: flex;
        flex-direction: column;
        font-size: 24px;
        color: #2b2f33;
        &-user {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
        &-reply {
          color: @theme-color;
          display: inline-block;
        }
        &-time {
          font-size: 22px;
          color: #cccccc;
          .margin(@item-pad, l);
        }
        &-content {
          .margin(@item-pad, t);
        }
      }
    }
  }
}
