@import "../../styles/theme.less";

@sign-prefix: sign;
@check-icon-size: 24px;
@sign-input-box-size: 590px;

.@{sign-prefix} {
  .padding(150px, t);
  background: #f2f2f2;
  &-card {
    // .margin(150px, t);
    .padding(70px, b);
    border-radius: 10px;
    background: #fff;
    width: 626px;
    .margin((750px - 626px) / 2, l);
    position: relative;
    // .padding(50px, tb);
    &-title {
      position: relative;
      z-index: 100;
      .padding(50px, t);
      width: 100%;
      .flex(center, center);
      font-size:50px;
      font-weight:bold;
      color:rgba(254,105,89,1);
      text-shadow:0px 3px 3px rgba(254,105,89,0.25);
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 626px;
      height: 220px;
      .bg;
      background-image: url('http://net.huanmusic.com/market/popup.bg.png');
    }
  }
  &-button {
    .theme-button;
    .margin(150px, t) !important;
  }
}