@import "../../styles/theme.less";

@prefix: publish;

.@{prefix} {
  position: relative;
  .padding(10px, t);
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    .theme-background;
  }

  &-images {
    background-color: #ffffff;
    position: relative;
    &-tip {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 28px;
      color: #C6C6C6;
    }
    &::after {
      .border1px;
    }
  }

  &-placeholder {
    font-size: 26px;
    color: #C6C6C6;
  }
  &-button {
    .margin(40px, t);
    border: 0px !important;
    width: 600px;
    background: linear-gradient(90deg,rgba(240,80,101,1) 0%,rgba(253,167,92,1) 100%);

    &-pub {
      position: fixed;
      bottom: 40px;
      right: 40px;
    }
  }
}