@import "../../styles/theme.less";

@prefix: index;

.@{prefix} {
  flex-direction: column;
  width: 100%;
  &-bg {
    .padding(15px, b);
    background: linear-gradient(90deg,rgba(240,80,101,1) 0%,rgba(253,167,92,1) 100%);
  }
}