
/* weapp */
page {
  height: 100%;
}

view,
text,
scroll-view {
  box-sizing: border-box;
}

button {
  &:after {
    display: none;
  }
}

/* h5 */
/*postcss-pxtransform rn eject enable*/
div {
  box-sizing: border-box;
}

button {
  outline: none;
}

.at-textarea {
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
}
.component-list-row-input {
  padding: 0px !important;
}

.at-fab {
  background: linear-gradient(90deg,rgba(240,80,101,1) 0%,rgba(253,167,92,1) 100%) !important;
}

.at-search-bar__action {
  background: linear-gradient(90deg,rgba(240,80,101,1) 0%,rgba(253,167,92,1) 100%) !important;
  border-radius: 15px !important;
}

.at-tabs__item--active {
  color: #F05065 !important;
}

.at-tabs__item-underline {
  background-color: #F05065 !important;
}